WFG_PROJECT_DIR=/home/nick/workspace/wfg-gov-contracting-v2
WFG_DB_PATH=/home/nick/workspace/wfg-gov-contracting-v2/state/wfg_workflow.sqlite3
WFG_ENV=production
GOOGLE_TOKEN_PATH=/home/nick/.hermes/google_token.json
WFG_DRIVE_ROOT_FOLDER_ID=
WFG_GMAIL_FROM=wrightfostergroup@gmail.com
WFG_ALLOW_REAL_SEND=0
TELEGRAM_BOT_TOKEN=
WFG_KANBAN_BOARD=gov-contracting
